<% const i = htmlWebpackPlugin.options.offlineTools.i18n; %>
<%- include ../../partials/top.ejs %>

<h1><%= i('tools.physics.temperature-converter.title') %></h1>
<p>Awesome</p>

<%- include ../../partials/bottom.ejs %>
