<% const i = htmlWebpackPlugin.options.offlineTools.i18n; %>
<%- include ../../partials/top.ejs %>

<section class="container">
    <article class="row">
        <h1><%= i('tools.physics.temperature-converter.title') %></h1>

        <p><%= i('tools.physics.temperature-converter.description') %></p>
    </article>
</section>

<%- include ../../partials/bottom.ejs %>
