<% const i = htmlWebpackPlugin.options.offlineTools.i18n; %>
<%- include ../partials/top.ejs %>

<section class="container">
    <article class="row">
        <h1><%= i('tools.physics.title') %></h1>

    </article>
</section>

<%- include ../partials/bottom.ejs %>
