@font-face {
  font-family: 'Minecraft';
  src: url('../fonts/minecraft.ttf');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: cyan;
  font-family: 'Minecraft';
  background: url('../img/pinky.jpg');
}
